body {
	background-color: #fafafa;

}
div {margin: 15px 0px;}

h1 {
        font-family: "euphoria-script"; 
        background-color: #fbff1c;
        text-align: center;
        padding: 20px;    
}
/* The navbar container */
.topnav {
    overflow: hidden;
    background-color: #333;

}

/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}


/* Style 1st navigation bar with search */
.navbar {
    width: 100%;
    background-color: rgb(0, 0, 0);
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: right;
    text-align: center;
    padding: 12px;
    color: rgb(229, 255, 0);
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
   /* background-color: rgb(236, 255, 130);*/
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }


/*2nd Navigation Bar*/
.navigationbar {
    overflow: hidden;
    background-color: #000000;
    padding: 10px;
    text-align: left;
    list-style: none;
 
}

/* Style the 3rd navigationbar links */
.navigationbar a {
   display: inline;
    color: #d9ff32;
   text-align: center;
    padding: 20px 22px;
    text-decoration:underline;

}
.navigationbar li{
    display: inline;
}

.navigationbar ul {
    text-align: center;
}

/* Change color on hover */
.navigationbar a:hover {
    background-color: #fafafa;
    color: #f7acf7;
}

.navtoggle{
    background-color: white;
}

.navtoggle ul{
    clear:both;
    display: inline;
}
.navtoggle #navicon{
    float:right;
}
.navtoggle .bar1{
 -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
}
.navtoggle .bar2 {
    opacity: 0;
}

.navtoggle .bar3 {
    -webkit-transform: rotate(45deg) translate(-3px, -3px);
    transform: rotate(45deg) translate(-3px, -3px);
}

    
.floatingtext {
	font-family: "euphoria-script";
    font-style: oblique;
	font-size: 3em;
	color: #f4ff55;
	animation-name: textex;
	animation-duration: 3s;
	animation-fill-mode: both;
	animation-delay: 1s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}


@keyframes textex {
	from { 
			transform: translateX(100px);
			color: #f4ff55;
			letter-spacing: 5px;

	}
	to   { 
			transform: translateX(100px) scale(0.50);
			color: black;
			letter-spacing: 0px;		
	}

}

strong{
    font-weight: bold;
    color: ;
    font-size: 1.5em;
}

.mainimagedisplay img{

	           background-color: yellow;
               width: 100%;
               display: block;
               margin: auto;
                           
    
}

/*.myself1 img {

	           display: block;
               margin: auto;
               width: 50%;
               align-items: center; */
            
    
}

.gallery{
            
          border: 10px solid #f3cff7;
          /*padding: 7vh 2% 2% 2%;*/
}
.image1 {

        height: 50%;
        width: 25%;
        line-height: 1.5;
        display: inline-block;
        text-align: center;
        vertical-align: text-bottom;
        margin: 5px 0px;
        padding-bottom: 5vh;
}
.image2 {

        height: 50%;
        width: 25%;
        line-height: 1.5;
        display: inline-block;
        text-align: center;
        vertical-align: bottom;
        margin: auto;
        padding-bottom: 5vh;
}
                            
.image3 {

        height: 50%;
        width: 25%;
        line-height: 1.5;
        display: inline-block;
        text-align: center;
        vertical-align: bottom;
        margin: auto;
        padding-bottom: 5vh;
}
                            
.image4 {

        height: 50%;
        width: 25%;
        line-height: 1.5;
        display: inline-block;
        text-align: center;
        vertical-align: bottom;
        margin: auto;
        padding-bottom: 5vh;

}
                            
.image5 {

        height: 50%;
        width: 25%;
        line-height: 1.5;
        display: inline-block;
        text-align: center;
        vertical-align: bottom;
        margin: auto;
        padding-bottom: 5vh;
}
                            
.image6 {

        height: 50%;
        width: 25%;
        line-height: 1.5;
        display: inline-block;
        text-align: center;
        vertical-align: bottom;
        margin: auto;
        padding-bottom: 5vh;
}

table{
    height: 100%;
    width: 50%;
    border: solid .1em pink;
    border-collapse: collapse;
}
td,th{
    border: solid; .1em green;
}

.image7 {

        height: 5%;
        width: 2%;
        line-height: 1.5;
        display: inline-block;
        text-align: center;
        vertical-align: text-bottom;
        margin: 5px 0px;
        padding-bottom: 5vh;
}
.image8 {

        height: 50%;
        width: 25%;
        line-height: 1.5;
        display: inline-block;
        text-align: center;
        vertical-align: bottom;
        margin: auto;
        padding-bottom: 5vh;
}
                            
.image9 {

        height: 50%;
        width: 25%;
        line-height: 1.5;
        display: inline-block;
        text-align: center;
        vertical-align: bottom;
        margin: auto;
        padding-bottom: 5vh;
}
                            
.image10 {

        height: 50%;
        width: 25%;
        line-height: 1.5;
        display: inline-block;
        text-align: center;
        vertical-align: bottom;
        margin: auto;
        padding-bottom: 5vh;

}
                            
.image11 {

        height: 50%;
        width: 25%;
        line-height: 1.5;
        display: inline-block;
        text-align: center;
        vertical-align: bottom;
        margin: auto;
        padding-bottom: 5vh;
}

                            
 .comments {

			width: 200px;
			height: 100px;
            border: 5px solid #acf7ac;
			background-color: #f3cff7;
	        animation-name: commentsex;
           	animation-duration: 4s;
	        animation-fill-mode: forwards;
	        animation-delay: 2s;
	        animation-direction: reverse;
	        animation-iteration-count: 2;
	        animation-timing-function: ease-out;
}
                         
@keyframes commentsex {
	from { 
			transform: translateX(5px);

	}
	to   { 
			transform: translateX(400px) scale(0.50);
			background-color:  #acf7ac;
			letter-spacing: 0px;		
	}
}

.tableSection{
        height: 50%;
        width: 25%;
        padding-top: 10vh;
        line-height: 1.5;
        display: inline-block;
        text-align: center;
        vertical-align: bottom;
        margin: auto;
        padding-bottom: 10vh;
}

.video{
        height: 50%;
        width: 25%;
        padding-top: 10vh;
        line-height: 1.5;
        display: inline-block;
        text-align: center;
        vertical-align: bottom;
        margin: auto;
        padding-bottom: 10vh;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


.email {

			width: 200px;
			height: 25px;
			background-color: #f3cff7;
			color: white;
            padding: inherit;
            border: 5px solid #f3cff7;
			transition: background-color 3s,
						width: 2s,
						border-radius: 1s;
			transition-timing-function: ease-in-out;
			transition-delay: 1s;


			}


.email:hover {
					background-color: #acf7ac;
					width: 400px;
					border-radius: 15px;
}


footer{
    padding: 1.0em;
    clear:both;
    text-align: center;
    background-color: #acf7ac;
}
address{
    padding: .5em;
}

#asidesect2 p {
    text-align: center;
}
